* {
  padding: 0pc;
  margin: 0px;
  box-sizing: border-box;
}
body {
  margin: 15px;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to left, cyan, hotpink); 
  background-repeat: no-repeat;
}
header {
  background-image: linear-gradient(to right, hotpink, cyan) ;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  width: 100%;
  height: 12%;
}
.topnav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 12%;
  padding-right: 2%;
}
.topnav a:hover {
   cursor: url("./IMG_6017.jpg"), pointer;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3); 
  transform: scale(1.3);
}
.topnav a.active {
  margin: 4% 0% 0%;
  height: 8%;
  width: 15%;
  color:  yellow;
  text-shadow: 1px 5px 4px black;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  text-align: center;
  text-decoration-color: cyan;
  transition: all 1s ease-in-out;
}
.topnav .icon {
  display: none;
}
main {
  height: 78%;
  width: 100%;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 50% 40% 10%;
}
.text {
  position: relative;
  }
  .text > p {
    margin-right: 55px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
  }
.img {
  background:url(./me22.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 5px;
  grid-row: 1/3; 
  background-color:transparent;
  margin-right: 20px;
  border-radius: 10px;
  border: 5px groove yellow;
  box-shadow: 6px 8px 10px  white;
}
.img:hover {
  background: url("./me.jpg") no-repeat;
  background-size: cover;
  background-position: right;
}
h1 {
  position: relative;
  top: 25px;
  float: right;
  margin-right: 90px;
  color: yellow;
  font-size:40px;
  text-shadow: 1px 2px 2px black;
}
.text > p {
  padding-top: 40px;
  text-align: center;
}
.content {
  display: flex;
}
.wrap > p {
  margin: 15px;
  margin-right: 40px;
}
h2 {
  margin-right: 30px;
}
.content h2:hover {
  cursor: url("./IMG_6017.jpg"), pointer;
}
.wrap {
  flex-direction: column;
  text-align: center;
}
.footer {
  background-image: linear-gradient(to right, hotpink, cyan) ;
  height: 10%;
  grid-column: 1/3;
  text-align: center;
  font-size: 25px;
  color:white;
  position: relative;
  text-shadow: 2px 4px 4px hotpink;
}
.footer > p {
  margin-top: 30px;
  transition: all 2s ease-in-out;
}
.colson{
  position: relative;
  left: 150px;
  font-size:18px;
  text-align: left;
  color: rgb(117,30,170);
  text-shadow: 2px 2px 4px yellow;
  font-weight: bold;
}
@media (max-width:800px) {
  body {
    height: 110%;
  }
  h1 {
    margin-right: 90px;
  }
  .img {
    display: none;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  .text {
    grid-column: 1/3;
  }
  .text > p {
    padding-top: 15px;
    text-align: center;
}
  .content {
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
  }
  h2 {
    margin-top: 20px;
  }
  .design {
    margin-top: 10px;
  }
  .footer {
    grid-row: 4/4;
  }
}
@media (max-width:650px) {
body {
  background: url(./06EC4685-511C-44CA-A6D8-DDAEE934254C.JPEG);
  background-size: cover;
  height: 100%;
}
.img {
  display: none;
}
h1 {
  display: none;
}
.text {
  grid-column: 1/3;
}
.content {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
}
h2 {
  margin-top: 50px;
}
.footer {
  display: flex;
  font-size: 25px;
  justify-content: center;
  margin-right: 30px;
  height: 0%;
  grid-row: 4/4;
}
.colson{
  font-size:18px;
  position: relative;
  left: 150px;
  color: rgb(117,30,170);
  text-shadow: 2px 2px 4px yellow;
  font-weight: bold;
}

