* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  height: 120%;
  width: 100%;
  background: url(./truckmenu.jpg);
  background-repeat: no-repeat;
  background-size: 105%;
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(1,1,1,.4);
}
header {
  height: 35%;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 75%;
  background: transparent;
}
.logo {
position: relative;
left: 50px;
top: 30px;
}
ul {
  display: flex;
  list-style: none;
  position: relative;
  justify-content: space-evenly;
  padding-top: 50px;
  font-size: 24px;
  color: orange;
  right: 80px;
}
/* header a.responsive-menu-toggle {
  display: none;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -17px;
  width: 34px;
  height: 34px;
  text-align: center;
  border-radius: 3px;
  z-index: 200;
}
header .responsive-menu-toggle, #Header_creative .creative-menu-toggle, #Header_creative .responsive-menu-toggle {
  color: #2dfff3;
  background: transparent;
}
header a.responsive-menu-toggle i {
  font-size: 22px;
  line-height: 34px;
} */
main {
  height: 65%;
  width: 100%;
}
h1, h2 {
  position: relative;
  top: -55px;
  left: -100px;
  color: orange;
  text-align: center;
  line-height: 30px;
  letter-spacing: 1px;
}
h3 {
  position: relative;
  top: -140px;
  left: 50px;
  color: orange;
  line-height: 30px;
  letter-spacing: 1px;
}
#about {
  display: grid;
  grid-template-columns: 60% 40%;
  position: relative;
  height: 60%;
  width: 100%;
  background: linear-gradient(105deg,
  #f6d365, #fda085, #f6d365, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3,
  #f6d365, #fda085, #f6d365, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3,
  #f6d365);
  background-size: 50%;
}

.me {
position: relative;
background: url(./me2.jpg);
background-size: 100%;
background-repeat: no-repeat;
background-position: top;
}
.text {
 position: relative; 
 top: -82px;
 right: 12px;
 background-color: white;
 height: 110%;
 border-radius: 20px;
}
.text > p {
  padding-top:85px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  line-height: 30px;
  letter-spacing: 1px;
}
h4 {
  position: relative;
  top: 40px;
  color: orange;
  text-align: center;
  line-height: 30px;
  letter-spacing: 1px;
  font-size: 40px;
}
h5 {
  position: relative;
  top: 50px;
  color: orange;
  text-align: center;
  line-height: 30px;
  letter-spacing: 1px;
  font-size: 20px;
}
#flavors {
  display: grid;
  grid-template-columns: 35% 35% 30%;
  height: 60%;
  width: 100%;
  background: linear-gradient(105deg,
  #f6d365, #fda085, #f6d365, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3,
  #f6d365, #fda085, #f6d365, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3,
  #f6d365);
}
.flavor {
 position: relative; 
 top: -70px;
 left: 20px;
 background-color: white;
 height: 110%;
 border-radius: 20px;
}
.flavor > p {
  padding-top:85px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  line-height: 30px;
  letter-spacing: 1px;
}
.mango {
  background: url(./mangolada.jpg);
  background-position: left;
  background-size: 100%;
  background-repeat: no-repeat; 
}
.friyay {
  background: url(./pinkdust.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
#video {
  height: 63%;
  width: 100%;
  display: grid;
  grid-template-columns: 55% 45%; 
  background: linear-gradient(105deg,
  #f6d365, #fda085, #f6d365, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3,
  #f6d365, #fda085, #f6d365, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3,
  #f6d365);
}
.rb {
  background: url(./rootbeer-float2.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat; 
}
iframe {
  border: 3px dashed gold;
  margin: 50px;
}
#ceviche {
height: 50%;
width: 100%;
display: grid;
grid-template-columns: 33% 33% 34%;
background: linear-gradient(105deg,
  #f6d365, #fda085, #f6d365, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3,
  #f6d365, #fda085, #f6d365, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3,
  #f6d365);
}
.cev1 {
  background: url(./shrimp-ceviche.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat; 
  width: 470px;
}
.ceviche {
  position: relative; 
  top: -40px;
  left: 20px;
  background-color: white;
  height: 100%;
  border-radius: 20px;
 }
.ceviche > p {
  padding-top:85px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  line-height: 30px;
  letter-spacing: 1px;
}
.cev2 {
  background: url(./ceviche-tostadas.jpg);
  background-position: bottom;
  background-size: 160%;
  background-repeat: no-repeat; 
}
#contact {
  height: 15%;
  width: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
  background-color: darkturquoise;
}
.slog {
  font-size: 50px;
  position: relative;
  left: 50px;
  top: 25px;
}
footer {
  height: 40%;
  width: 100%;
  background: white;
}