* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(105deg,
  #f6d365, #fda085, #f6d365, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3,
  #f6d365, #fda085, #f6d365, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3,
  #f6d365);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: fill;
}
header {
  height: 98%;
  width: 100%;
  background: url(./logotran.png);
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
}
img {
display: none;
height: 175px;
width: 225px;
}
.logo {
position: relative;
left: 50px;
top: 30px;
}
ul {
  display: flex;
  list-style: none;
  position: relative;
  justify-content: space-evenly;
  padding-top: 50px;
  font-size: 24px;
  color: orange;
  right: 80px;
}
.bouncy{
  animation:bouncy 5s infinite linear;
  position:relative;
  }
@keyframes bouncy {
  0%{top:0em}
  40%{top:0em}
  43%{top:-0.9em}
  46%{top:0em}
  48%{top:-0.4em}
  50%{top:0em}
  100%{top:0em;}
  }
/* header a.responsive-menu-toggle {
  display: none;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -17px;
  width: 34px;
  height: 34px;
  text-align: center;
  border-radius: 3px;
  z-index: 200;
}
header .responsive-menu-toggle, #Header_creative .creative-menu-toggle, #Header_creative .responsive-menu-toggle {
  color: #2dfff3;
  background: transparent;
}
header a.responsive-menu-toggle i {
  font-size: 22px;
  line-height: 34px;
} */
main {
  height: 65%;
  width: 100%;
}
h1, h2 {
  position: relative;
  top: -180px;
  left: 390px;
  color: orange;
  text-align: center;
  line-height: 30px;
  letter-spacing: 1px;
}
h3 {
  position: relative;
  top: -235px;
  left: 50px;
  color: orange;
  line-height: 30px;
  letter-spacing: 1px;
}
#about {
  display: grid;
  grid-template-columns: 60% 40%;
  position: relative;
  height: 60%;
  width: 100%;
}
.me {
position: relative;
background: url(./me2.jpg);
background-size: 100%;
background-repeat: no-repeat;
background-position: top;
}
.text {
 position: relative; 
 top: -85px;
 right: 12px;
 background-color: white;
 height: 110%;
 border-radius: 20px;
}
.text > p {
  padding-top:85px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  line-height: 30px;
  letter-spacing: 1px;
}
h4 {
  position: relative;
  top: 40px;
  color: orange;
  text-align: center;
  line-height: 30px;
  letter-spacing: 1px;
  font-size: 40px;
}
h5 {
  position: relative;
  top: 50px;
  color: orange;
  text-align: center;
  line-height: 30px;
  letter-spacing: 1px;
  font-size: 20px;
}
a.button1{
  padding: 10px 10px;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #FFFFFF;
  display: flex;
  width: 25%;
  height: 10%;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align: center;
  transition: all 200ms ease-in;
  position: relative;
  top: 50px;
  left: 200px;
}
  a.button1:hover{
  transform: scale(1.2);
  color: black;
}
#flavors {
  display: grid;
  grid-template-columns: 35% 35% 30%;
  height: 60%;
  width: 100%;
  margin-bottom: -15px;
}
.flavor {
 position: relative; 
 top: -70px;
 left: 20px;
 background-color: white;
 height: 110%;
 border-radius: 20px;
}
.flavor > p {
  padding-top:85px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  line-height: 30px;
  letter-spacing: 1px;
}
a.button2{
  padding: 10px 10px;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #FFFFFF;
  display: flex;
  width: 40%;
  height: 15%;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align: center;
  transition: all 200ms ease-in;
  position: relative;
  top: 50px;
  left: 135px;
}
  a.button2:hover{
  transform: scale(1.2);
  color: black;
}
.mango {
  background: url(./mangolada.jpg);
  background-position: left;
  background-size: 100%;
  background-repeat: no-repeat; 
}
.friyay {
  background: url(./pinkdust.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
#video {
  height: 63%;
  width: 100%;
  display: grid;
  grid-template-columns: 55% 45%;
}
.video > p{
  position: relative;
  top: 50px;
  color: orange;
  text-align: center;
  line-height: 30px;
  letter-spacing: 1px;
  font-size: 20px;
}
iframe {
  height: 375px;
  width: 520px;
  position: relative;
  right: 20px;
  bottom: 35px;
}
.rb {
  background: url(./rootbeer-float2.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat; 
  width: 105%;
}
iframe {
  border: 3px dashed gold;
  margin: 50px;
}
#ceviche {
margin-top: 90px;
height: 50%;
width: 100%;
display: grid;
grid-template-columns: 33% 33% 34%;
}
.cev1 {
  background: url(./shrimp-ceviche.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat; 
  width: 115%;
  margin-top: 30px;
}
.ceviche {
  position: relative; 
  top: -20px;
  left: 20px;
  background-color: white;
  height: 100%;
  border-radius: 20px;
 }
.ceviche > p {
  padding-top:85px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  line-height: 30px;
  letter-spacing: 1px;
}
.cev2 {
  background: url(./ceviche-tostadas.jpg);
  background-position: bottom;
  background-size: 150%;
  background-repeat: no-repeat;
  height: 92%
}
#contact {
  height: 15%;
  width: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
  background-color: darkturquoise;
}
.slog {
  font-size: 50px;
  position: relative;
  left: 36px;
  top: 20px;
}
a.button3{
  padding: 10px 28px;
  border-radius: 20px;
  border: 2px solid coral;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 300;
  color: #FFFFFF;
  display: flex;
  width: 50%;
  height: 55%;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align: center;
  transition: all 200ms ease-in;
  position: relative;
  top: 25px;
  left: 80px;
}
  a.button3:hover{
  transform: scale(1.2);
  color: black;
}
footer {
  height: 40%;
  width: 100%;
}
@media (max-width:600px) {
body {
  background: linear-gradient(105deg,
  #f6d365, #fda085, #f6d365, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3,
  #f6d365, #fda085, #f6d365, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3,
  #f6d365);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: fill;
}
img {
display: none;
}
header {
  height: 50%;
  background: url(./logo-orange.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: none;
  grid-template-rows: none;
}
ul {
  top: 70px;
  right: 30px;
}
main {
  display: none;
}
  h1, h2 {
    position: relative;
    top: -60px;
    left: 196px;
    color: orange;
    text-align: center;
    line-height: 30px;
    letter-spacing: 1px;
  }
  h3 {
    display: none;
  } 
  h4 {
    position: relative;
    top: 40px;
    color: orange;
    text-align: center;
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 20px;
  }
  .text {
    top: -40px;
    height: 100%;
    width: 108%;
    right: 20px;
  }
  a.button1:hover {
    transform: scale(1.2);
    color: black;
  }

  a.button1 {
    padding-bottom: 10px;
    padding: 8px 20px;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #FFFFFF;
    display: flex;
    width: 50%;
    height: 6%;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align: center;
    transition: all 200ms ease-in;
    position: relative;
    top: 0px;
    left: 50px;
  }
  .me {
    background-size: 110%;
  }
  .flavor {
    height: 100%;
    width: 125%;
  }
  a.button2:hover {
    transform: scale(1.2);
    color: black;
  }
  a.button2 {
    padding-bottom: 10px;
    padding: 20px 10px;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #FFFFFF;
    display: flex;
    width: 50%;
    height: 10%;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align: center;
    transition: all 200ms ease-in;
    position: relative;
    top: 0px;
    left: 50px;
  }
  .mango {
    background: url(./mangolada.jpg);
    background-position: center;
    background-size: 70%;
    width: 222%;
    height: 60%;
    margin-top: 75px;
    background-repeat: no-repeat;
  }
  .friyay {
    display: none;
  }
  #video {
    top: 150px;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    position: relative;
    right: 47px;
  }
  iframe {
    height: 375px;
    width: 520px;
    position: relative;
    right: 0px;
    bottom: 0px; 
  }
  .video > p {
    position: relative;
    left: 30px;
  }
  #ceviche {
    position: relative;
    top: 150px;
  }
  .cev1 {
    width: 125%;
    background-position: center;
    background-size: 200%;
    margin-top: 75px;
  }
  .ceviche {
    position: relative; 
    top: 40px;
    left: 30px;
    background-color: white;
    height: 100%;;
    width: 180%;
    border-radius: 20px;
   }
   .cev2 {
     display: none;
   }
   #contact {
    margin-top: 210px;
   }
   a.button3 {
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid coral;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #FFFFFF;
    display: flex;
    width: 85%;
    height: 45%;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align: center;
    transition: all 200ms ease-in;
    position: relative;
    top: 25px;
    left: 15px;
}
a.button3:hover {
  transform: scale(1.2);
  color: black;
}
}