body{
    padding:80px 40px;
    margin: 0;
    padding: 0;
  }
  /* .resume-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "header header header"
    "objective experience experience"
    "references education certification"
    "footer footer footer";
    grid-gap: 10px;
    padding: 10px;
    padding: 10px;
    border-radius: 10px;
  } */
<<<<<<< HEAD
  
=======
  img {
    float: left;
    padding-left: 300px;
  
    border-radius: 8px;
  }
>>>>>>> AM/Media-Queries
  .resume-container {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto;
    grid-template-areas:
    "header header"
    "objective certification"
    "experience experience"
    "references education"
    "footer footer"
    ;
    grid-gap: 10px;
    padding: 10px;
    padding: 10px;
    border-radius: 10px;
  }
  .resume-container>div {
    border: 3px solid rgb(224, 72, 136);
    padding: 20px 0;
    font-size: 30px;
    border-radius:18px;
  }
img {
  float: center;
}
.header {
  
  grid-area: header;
  background-color: lightsteelblue;
<<<<<<< HEAD
  padding-bottom: 10px;
=======
  margin-right: 130px;
  margin-left: 130px;
>>>>>>> AM/Media-Queries
}
.objective {
  grid-area: objective;
  background-color: lightsteelblue;
  margin-left: 130px;
}
.experience {
  grid-area: experience;
  background-color: lightsteelblue;
  margin-right: 130px;
  margin-left: 130px;
}
.education {
  grid-area: education;
  background-color: lightsteelblue;
  margin-right: 130px;
}
.certification {
  grid-area: certification;
  background-color: lightsteelblue;
  margin-right: 130px;
  
}
.references {
  grid-area: references;
  background-color: lightsteelblue;
  margin-left: 130px;
}
.footer {
  grid-area: footer;
  background-color: lightsteelblue;
}
h1 {
<<<<<<< HEAD
  font-size: 50px;
  font-family: Geneva;
  color: darkorchid;
=======
  padding-left: 530px;
  font-size: 50px;
  color: rgb(175, 23, 117);
}
h2{
  padding-left: 530px;
  font-size: 20px;
>>>>>>> AM/Media-Queries
}  
h2 {
  font-size: 32px;
  text-decoration: underline;
  color: rgb(179, 101, 153);
}
h3 {
<<<<<<< HEAD
  color: darkorchid;
  font-size: 25px;
=======
  padding-left: 15px;
  font-size: 25px;
  color: rgb(175, 23, 117);
  text-decoration: underline;
  text-decoration-color: blueviolet;
}
p {
  padding-left: 15px;
  font-size: 15px;
}
h5 {
  padding-left: 15px;
  font-size: 20px;
>>>>>>> AM/Media-Queries
  text-decoration: underline;
}
.experience>.dates {
  font-size: 20px;
}
.experience>.address{
  font-size: 20px;
}
.experience>.contact {
  font-size: 20px;
  font-weight: bold;
}
.header>p{
  font-size: 18px;
  float: right;
}
.img>p{
  font-size: 23px;
}
.experience>p{
  font-size: 18px;
}
.objective>p {
  font-size: 18px;
}
<<<<<<< HEAD
.certification>p {
  font-size: 20px;
}
.references>p{
  font-size: 20px;
}
.education>p{
  font-size: 20px;
}
=======
.resume-container div:nth-of-type(1) {
  
}
.experience .dates, .address, .contact {
  padding-left: 15px;
}
>>>>>>> AM/Media-Queries
