body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;  
}

 .header {
  background-image: url(https://images.unsplash.com/photo-1517315003714-a071486bd9ea?ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 60%;
 }

 img {
  opacity: 0.9;
  padding-top: 10px;
  border-radius: 200px;
 }

 .contact-info {
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
 }

 .objective {
  text-align: center;
  height: 40%;
  display: grid;
  grid-template-columns: 35% 65%;
 }

 .skills {
  text-align: center;
 }

.work {
  text-align: center;
  border: 1px solid black;
  height: 100%;
  display: grid;
  grid-template-columns: 65% 35%;
}

.education {
  text-align: center;
  border: 1px solid black;
  height: 100%;
  display: grid;
  grid-template-rows: 50% 50%;
}