* {
  font-family: 'Rock Salt', cursive;
  user-select: none;
}
body {
  margin: 0px;  
  padding: 0px;
  box-sizing: border-box;
}
h1 {
  color: hotpink;
  font-size: 50px;
  text-align: center;
}
.box {
  margin-left: 420px;
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 33.33% 33.33% 33.33%;
}
div {
  border: 1px solid limegreen;
  text-align: center;
}
