body {
  margin: 100px;  
  padding: 0px;
  box-sizing: border-box;
}
h1 {
  color: hotpink;
  font-size: 50px;
  text-align: center;
}
.box {
  margin-left: 300px;
  height: 500px;
  width: 500px;
  display: grid;
  border: 3px solid limegreen;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 33.33% 33.33% 33.33%;
}
.border {
  border: 1px solid limegreen;
}
div {
  border: 1px solid limegreen;
  text-align: center;
}
