* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height:100%;
  width: 100%;;
  padding: 0px;
}

.title {
  height: 20%;
  width: 80%;
  display: inline-grid;
}
.titlegrid {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 80% 20%;
  max-height: 100%;
  max-width: 100%;
}
.cookie {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color:white;
}
img>cookie {
  display: flex;
}
.techfood>h1 {
  font-size: 80px;
  text-align: center;
  color:black;
  font-family: verdana;
}
.techfood>p {
  font-size: 15px;
  text-align: center;
  color:black;
  align-content: space-between;
}
.techfood {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: white;
}
.offer>p {
  font-size: 13px;
  align-content: space-between;
  color:black;
  font-family: 'Segoe UI';
  font-family: verdana;
}
.offer {
  grid-column: 1/3;
  grid-row: 2/2;
  background-color:white;
  display: flex;
  justify-content: space-between;
  font-family: verdana;
  font-weight: bold;
}
.sale {
  height: 20%;
  width: 20%;
  display: inline-grid;
  float: right;
}
.salegrid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60% 40%;
}
.save>p {
  font-size: 18px;
  text-align: center;
  color: white;
  font-family: verdana;
}
.save {
  grid-row: 1/2;
  background-color:rgb(195,49,87);
}
.ex>p {
  font-size: 18px;
  text-align: center;
  color: white;
  font-family: verdana;
}
.ex {
  grid-row: 2/2;
  background-color:rgb(69,175,189);
}
.main {
  height: 60%;
  width: 80%;
  display: inline-grid;
  border: 4px solid rgb(69,175,189);
}
.main1grid {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: auto;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
}
.mango {
  background: url("mango.jpg.png");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  padding-bottom: 0px;
}
.mangotext div:nth-child(1) {
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: verdana;
  font-size: 16px;
}
/* .mango4 {
  display: flex;
  justify-content: center;
} */
.mangotext2 {
  display: flex;
  flex-direction: column;
}
.mangotext2 div:nth-child(1) {
  color: white;
  font-size: 9px;
}
.mangotext2 div:nth-child(2) {
  color:white;
  font-size: 10px;
}
.wrapm {
  display: flex;
  -ms-flex-direction: column;
}
.wrapm div:nth-child(1) {
  font-size: 25px;
  color: white;
  font-weight: bold;
  font-family: verdana;
}
.wrapm div:nth-child(2) {
  font-size: 12px;
  color: white;
  font-weight: bold;
  font-family: verdana;
}
.mango div:nth-child(3) {
  font-size: 12px;
  font-weight: bold;
  font-family: verdana;
  display: flex;
  align-items: flex-end;
}
.mango div:nth-child(4) {
  font-family: verdana;
  background-color: rgb(195,49,87); 
}
.junk {
  background-color:rgb(69,175,189);
}
.junk p:nth-child(1) {
  color: white;
  font-family: verdana;
  font-size: 30px;
  font-weight: bold;
}
.junk p:nth-child(2) {
  font-size: 15px;
  color: white;
})
.junk {
  grid-column: 2/3;
  background-color: rgb(69,175,189);
}
.cheetos {
  grid-column: 3/3;
  background-color: grey;
  background: url("chips.jpg.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 25% 25%;
  padding-bottom: 2px;
}
.cheetos div:nth-child(4) {
  text-align: center;
  border: 4px solid rgb(255,212,34);
  background-color: white;
  font-family: verdana;
}
.cheetos div:nth-child(5) {
  font-size: 12px;
  padding: 10px;
  font-family: verdana;
  padding-bottom: 30px;
  font-weight: bold;
}
 .cheetos div:nth-child(6) {
  text-align: center;
  border: 4px solid rgb(255,212,34);
  background-color: rgb(255,212,34);
  font-family: verdana;
  font-weight: bold; 

}
.cheetos p:nth-child(1) {
  font-size: 18px;
  font-weight: bold;
}
.cheetos p:nth-child(2) {
  font-size: 9px;
  font-weight: bold;
}
.cheetos p:nth-child(3) {
  font-size: 9px;
  font-weight: bold;
}
.cheetos p:nth-child(4) {
  font-size: 18px;
  font-weight: bold;
}
.cheetos p:nth-child(5) {
  font-size: 8px;
  font-weight: bold;
}
.main2grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
}
.tea {
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 60% 40%;
  background: url(./tea.png);
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: top;
  padding-bottom: 0px;
}
.tea div:nth-child(3) {
  font-size: 12px;
  font-weight: bold;
  font-family: verdana;
  display: flex;
  align-items: flex-end;
}
.tea div:nth-child(4) {
  font-size: 20px;
  font-weight: bold;
  font-family: verdana;
  border: 4px solid gold;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
.teatext div:nth-child(2) {
  font-size: 9px;
}
.nuts {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33% 33% 33%;
  background: url(./nuts\ .png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: top;
}
.nuts div:nth-child(3) {
  font-size: 12px;
  font-weight: bold;
  font-family: verdana;
  display: flex;
  align-items: flex-end;
}
.nuts div:nth-child(4) {
  font-family: verdana;
  background-color: rgb(195,49,87);
}
.nuts div:nth-child(6) {
background-color: gold;
}
.nutstext div:nth-child(1) {
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: verdana;
  font-size: 12px;
}
.nutstext2 {
  display: flex;
  flex-direction: column;
}
.nutstext2 div:nth-child(1) {
  color: white;
  font-size: 9px;
}
.nutstext2 div:nth-child(2) {
  color:white;
  font-size: 10px;
}
.wrapm {
  display: flex;
  -ms-flex-direction: column;
}
.wrapm div:nth-child(1) {
  font-size: 25px;
  color: white;
  font-weight: bold;
  font-family: verdana;
}
.wrapm div:nth-child(2) {
  font-size: 12px;
  color: white;
  font-weight: bold;
  font-family: verdana;
}
.nutsp2 p:nth-child(1) {
  font-size:12px;
  color: black;
  font-weight: bold;
  text-align: center;
  font-family: verdana;
}
.nutsp2 p:nth-child(2) {
  font-size: 20px;
  color: black;
  font-weight: bold;
  text-align: center;
  font-family: verdana;
}
.nutsp2 p:nth-child(3) {
  font-size: 10px;
  color: black;
  font-weight: bold;
  text-align: center;
  font-family: verdana;
}
.yogurt {
  grid-column: 3/4;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 35% 35% 30%;
  background: url(chobani.png);
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: top;
}
.yogurt div:nth-child(5) {
    font-size: 12px;
    font-weight: bold;
    font-family: verdana;
    display: flex;
    align-items: flex-end;
}
.yogurt div:nth-child(6) {
  font-size: 20px;
  font-weight: bold;
  font-family: verdana;
  border: 4px solid gold;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.yogurttext p:nth-child(2){
  font-size: 10px;
}
.mnm {
  grid-column: 4/4;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 35% 35% 30%;
  background: url(chocs.png);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: top;
}
.mnm div:nth-child(5) {
  font-size: 12px;
  font-weight: bold;
  font-family: verdana;
  display: flex;
  align-items: flex-end;
}
.mnm div:nth-child(6) {
  border: 3px solid gold;
  font-size: 20px;
  font-family: verdana;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.sidebar {
  height: 60%;
  width: 20%;
  float: right;
}
.sidebargrid {
  display: inline-grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  width: 100%;
}
.wine {
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  background: url(./wine\ .png);
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: left;
  border: 4px dashed black;
}

.wine div:nth-child(2) {
  font-size: 12px;
  font-weight: bold;
  font-family: verdana;
  text-align: center;
}
.wine div:nth-child(4) {
  border: 4px solid gold;
  text-align: center;
  font-weight: bold;
}
.wine p {
  font-family: verdana;
  font-size: 25px;
}
.wine p:nth-child(2) {
  font-size: 12px;
}
.ben {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  background: url(./bjs.png);
  background-size: 25%;
  background-repeat: no-repeat;
  background-position-x: 25px;
  border: 4px dashed black;
}
.ben div:nth-child(2) {
  background-color: rgb(195,49,87)
}
.nutstext3 {
  font-size: 12px;
  font-weight: bold;
  font-family: verdana;
  display: flex;
  align-items: flex-end;
}
.ben div:nth-child(4) {
  background-color: gold;
}
.bentext div:nth-child(1) {
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: verdana;
  font-size: 12px;
}
.bentext2 {
  display: flex;
  flex-direction: column;
}
.bentext2 div:nth-child(1) {
  color: white;
  font-size: 9px;
}
.bentext2 div:nth-child(2) {
  color:white;
  font-size: 10px;
  font-family: verdana;
  text-align: center;
}
.wrapm {
  display: flex;
  -ms-flex-direction: column;
}
.wrapm div:nth-child(1) {
  font-size: 25px;
  color: white;
  font-weight: bold;
  font-family: verdana;
}
.wrapm div:nth-child(2) {
  font-size: 12px;
  color: white;
  font-weight: bold;
  font-family: verdana;
}
.benp2 p:nth-child(1) {
  font-size:12px;
  color: black;
  font-weight: bold;
  text-align: center;
  font-family: verdana;
}
.benp2 p:nth-child(2) {
  font-size: 20px;
  color: black;
  font-weight: bold;
  text-align: center;
  font-family: verdana;
}
.benp2 p:nth-child(3) {
  font-size: 10px;
  color: black;
  font-weight: bold;
  text-align: center;
  font-family: verdana;
}
.ramen {
  grid-row: 3/3;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  background: url(./ramen\ \(1\).png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: top;
  border: 4px dashed black;
}
.ramen div:nth-child(3) {
  font-size: 12px;
  font-weight: bold;
  font-family: verdana;
  display: flex;
  align-items: flex-end;
}
.ramentext {
  display: flex;
  -ms-flex-direction: column;
  font-weight: bold;
  font-family: verdana;
}
.ramentext div:nth-child(1) {
  font-size: 30px;
}
.ramentext p {
  font-size: 15px;
}
.ramentext div:nth-child(2) {
  font-size: 38px;
}
.ramentext div:nth-child(3) {
  font-size: 45px;
}
.footer {  
  border: 5px solid rgb(69,175,189);
  height: 26.5%;
  width: 100%;
  display: inline-grid;
  max-height: 100%;
  max-width: 100%;
}
.footergrid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100%;
}
.caffeine {
  grid-column: 1/2;
  background-color: rgb(69,175,189);
}
.caffeine p:nth-child(1) {
  font-size: 30px;
  font-family: verdana;
  font-weight: bold;
  color: white;
}
.caffeine p:nth-child(2) {
  font-size: 15px;
  color: white;
  font-family: verdana;
}
.coffee {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  background: url(coffee.png);
  background-size: 20%;
  background-repeat: no-repeat;
background-position: left;
}
.coffee div:nth-child(2) {
  font-size: 12px;
  font-weight: bold;
  font-family: verdana;
}
.coffeetext {
  display: flex;
  -ms-flex-direction: row;
  font-weight: bold;
  font-family: verdana;
}
.coffeetext div:nth-child(1) {
  font-size: 30px;
}
.coffeetext p {
  font-size: 15px;
}
.coffeetext div:nth-child(2) {
  font-size: 38px;
}
.coffeetext div:nth-child(3) {
  font-size: 45px;
}
.cola {
  grid-column: 3/4;
  background-color: seagreen;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  background: url(./coke.png);
  background-size: 40%;
  background-repeat: no-repeat;
background-position: top;
}
.cola div:nth-child(3) {
  font-size: 12px;
  font-weight: bold;
  font-family: verdana;
  display: flex;
  align-items: flex-end;
}
.colatext {
  display: flex;
  -ms-flex-direction: column;
  font-weight: bold;
  font-family: verdana;
} 
.colatext div:nth-child(1) {
  font-size: 30px;
}
.colatext p {
  font-size: 15px;
}
.colatext div:nth-child(2) {
  font-size: 38px;
}
.colatext div:nth-child(3) {
  font-size: 45px;
}
.monster {
  grid-column: 4/4;
  background-color: white;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 65% 35%;
  background: url(./monster.jpg.png);
  background-position: top;
  background-size: 35%;
  background-repeat: no-repeat;
}
.monster div:nth-child(3) {
  font-size: 12px;
  font-weight: bold;
  font-family: verdana;
  display: flex;
  align-items: flex-end;
}
.monstertext {
  display: flex;
  -ms-flex-direction: column;
  font-weight: bold;
  font-family: verdana;
}
.monstertext div:nth-child(1) {
  font-size: 30px;
}
.monstertext p {
  font-size: 15px;
}
.monstertext div:nth-child(2) {
  font-size: 38px;
}
.monstertext div:nth-child(3) {
  font-size: 45px;
}
